<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638628601654-64rh022js711b9110o0rfb7u86tabtdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638628601654-64rh022js711b9110o0rfb7u86tabtdg</string>
	<key>API_KEY</key>
	<string>AIzaSyCP4Wlo9DIZA6LSLDOjL7XjG8iXZuIQNtY</string>
	<key>GCM_SENDER_ID</key>
	<string>638628601654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectBugkill</string>
	<key>PROJECT_ID</key>
	<string>project-bugkill</string>
	<key>STORAGE_BUCKET</key>
	<string>project-bugkill.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638628601654:ios:749c517dbe3e9370a3dd97</string>
</dict>
</plist>